@import url("http://fast.fonts.net/lt/1.css?apiType=css&c=754d1a9b-f0e7-4ad7-91d6-c6da16e5c930&fontids=721220");
@font-face{
font-family:"Avenir LT W01 35 Light";
src:url("Fonts/721220/3511a780-31ca-4ee1-9083-89b1b7185748.eot?#iefix");
src:url("Fonts/721220/3511a780-31ca-4ee1-9083-89b1b7185748.eot?#iefix") format("eot"),url("Fonts/721220/c4352a95-7a41-48c1-83ce-d8ffd2a3b118.woff") format("woff"),url("Fonts/721220/3e419b5b-c789-488d-84cf-a64009cc308e.ttf") format("truetype"),url("Fonts/721220/ca038835-1be3-4dc5-ba25-be1df6121499.svg#ca038835-1be3-4dc5-ba25-be1df6121499") format("svg");
}
/*-----------------------------*/
/* test rounded*/
/*-----------------------------*/

/*#uno{
border-top-left-radius:10px;
border-bottom-left-radius:10px;
}

#dos{
border-top-right-radius:10px;
border-bottom-right-radius:10px;
}

*/
/*-----------------------------*/
grey
{
  font-family:  sans-serif; font-size: 16px; line-height: 16px; letter-spacing:0px; color: #444;  text-decoration: none; padding: 0; 


}

#invisble {
    font-size:2px;
    color:#FFF;
    line-height:10px;
/*    visibility:hidden;*/
}


img.intro{
height:16px;
}


table.mytable {
    border:none;
}

red
{
  font-family:  sans-serif; font-size: 16px; line-height: 16px; letter-spacing:0px; font-weight: bold; color: #AD0000;  text-decoration: none; padding:0;
}

a{
  font-family:  sans-serif; font-size: 14px; line-height: 14px; letter-spacing:0px;  text-decoration: none;
}

a.slink:hover{
    color: #417E16;
}

div{
    padding-top:70px;
}
a.slink{
  font-family: 'Avenir LT W01 35 Light';
  font-size: 15px;
  padding: 4px;
  color:#474536;
}
