/*-----------------------------*/
/* test rounded*/
/*-----------------------------*/
img{
    border:1px solid;
/*    border-top-left-radius:10px;
    border-top-right-radius:10px;*/
    border-color:rgba(221, 221, 221, 0.5);
}

#navigation{
    border-left-color: rgba(221, 221, 221, 0.5);
    border-left-style: solid;
    border-left-width: 1px;
    border-bottom-color: rgba(221, 221, 221, 0.5);
    border-bottom-style: solid;
    border-bottom-width: 1px;

 /*   border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;*/
}
p{
    text-align:justify;
}

#content{
    border-right-color: rgba(221, 221, 221, 0.5);
    border-right-style: solid;
    border-right-width: 1px;

    border-left-color: rgba(221, 221, 221, 0.5);
    border-left-style: solid;
    border-left-width: 1px;

    border-bottom-color: rgba(221, 221, 221, 0.5);
    border-bottom-style: solid;
    border-bottom-width: 1px;

    /*border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;*/
}


/*-----------------------------*/
/* reine Textformatierung */
/*-----------------------------*/

block{
    font-size: 22px; color: #D1D4DF;
}
h2 > a {

    text-decoration:none;
    color:#2F2A3F;
}
#navigation ul li a {
    color:#2F2A3F;
}
#navigation ul li a.mouseout{
    color:#999;
}
#navigation ul li a:hover{
    color:#999;
}

a.impressumLink{
    font-weight: bold;
}
#logo_text{
    display:none;
}

h1
{ font-family: Verdana, sans-serif; font-size: 18px; line-height: 16px; letter-spacing:0px; font-weight: normal; color: #2F2A3F;  text-decoration: none; margin:  40px   0px 20px  0px; padding: 0;}
h1.links
{ font-family: Verdana, sans-serif; font-size: 18px; line-height: 16px; letter-spacing:0px; font-weight: normal; color: #2F2A3F;  text-decoration: none; margin:  40px   0px 10px  0px; padding: 0;}

h2
{ font-family: Verdana, sans-serif; font-size: 13px; line-height: 14px;  font-weight: normal; color: #515151;  text-decoration: none; margin:  0px   0px 40px  0px; padding: 0; font-style:italic; text-align: right;}

h2.gruppen
{ font-family: Verdana, sans-serif; font-size: 13px; line-height: 14px;  font-weight: normal; color: #515151;  text-decoration: none; margin:  0px   0px 40px  0px; padding: 0; text-align: right; font-style: normal; }
h2.seminare
{ font-family: Verdana, sans-serif; font-size: 16px; line-height: 16px;  font-weight: normal; color: #2F2A3F;  text-decoration: none; margin:  30px   0px  20px  0px; padding: 0; text-align: left; font-style: normal; }
h2.seminare02
{ font-family: Verdana, sans-serif; font-size: 16px; line-height: 16px;  font-weight: normal; color: #2F2A3F;  text-decoration: none; margin:  60px   0px 0px  0px; padding: 0; text-align: left; font-style: normal; }

h3
{ font-family: Verdana, sans-serif; font-size: 12px; line-height: 12px;  font-weight: bold; color: #2F2A3F;  text-decoration: none; margin:  0px   0px 16px  0px; padding: 0; }
h3.coaching
{ font-family: Verdana, sans-serif; font-size: 12px; line-height: 12px;  font-weight: normal; color: #3066A8;  text-decoration: none; margin:  0px   0px 16px  0px; padding: 0; }
h3.seminare
{ font-family: Verdana, sans-serif; font-size: 12px; line-height: 12px;  font-weight: normal; color: #3066A8;  text-decoration: none; margin:  10px   0px  0px  0px; padding: 0; }

h4
{ font-family: Verdana, sans-serif; font-size: 12px; line-height: 12px;  font-weight: bold; color: #784A42;  text-decoration: none; margin:  40px   0px 10px  0px; padding: 0; }
h4.vita
{ font-family: Verdana, sans-serif; font-size: 12px; line-height: 12px;  font-weight: bold; color: #784A42;  text-decoration: none; margin:  10px   0px 10px  0px; padding: 0; }

#content img.table
{ float:none; margin : 0  0px 0px 0;  clear: both;}

.eintrag p
{  font-family: Verdana, sans-serif; font-size: 12px; color: #515151; line-height: 17px; margin: 0px 0px  0px 0px;  padding: 0  0px 0  0px; clear: both;}
.eintrag p.seminare
{  font-family: Verdana, sans-serif; font-size: 12px; color: #515151; line-height: 15px; margin: 6px 0px   6px 0px;  padding: 0  0px 0  0px; clear: both;}
.eintrag p.klein
{  font-family: Verdana, sans-serif; font-size: 10px; color: #784A42; line-height: 17px; margin:  20px 0px  0px 0px; padding: 0  0px 0  0px;  clear: both;}
.eintrag p.klein_seminare
{  font-family: Verdana, sans-serif; font-size: 10px; color: #784A42; line-height: 13px; margin:   0px 0px  0px 0px; padding: 0  0px 0  0px;  clear: both;}
.eintrag p.blau
{  font-family: Verdana, sans-serif; font-size: 13px; color: #2F2A3F; line-height: 17px; margin: 0px 0px  20px 0px;  padding: 0  0px 0  0px; clear: both;}
.eintrag p.blau_klein
{  font-family: Verdana, sans-serif; font-size: 10px; color:  #2F2A3F; line-height: 17px; margin:  0px 0px  0px 0px; padding: 0  0px 0  0px;  clear: both;}
span.blau
{  font-family: Verdana, sans-serif; font-size: 10px; color: #3066A8; line-height: 17px; margin: 0px 0px  20px 0px;  padding: 0  0px 0  0px; clear: both;}



.eintrag
{  clear: both; margin: 0px 0px  0px 0px; padding: 0; }

.eintrag p.rot
{font-family: Verdana, sans-serif; font-size: 14px; color: #FF0000; line-height: 17px; margin: 0px 0px  20px 0px;  padding: 0  0px 0  0px;}
.eintrag p.neu
{font-family: Verdana, sans-serif; font-size: 13px; color: #FF0000; line-height: 17px; margin: 0px 0px  0px 0px;  padding: 0  0px 0  0px; font-style:italic;font-weight:bold}
.eintrag p.blau a
{ font-family: Verdana, sans-serif; font-size: 10px; color: #3066A8; line-height: 17px; margin: 0px 0px  20px 0px;  padding: 0  0px 0  0px; text-decoration: underline; }
.eintrag p.blau a:hover
{ text-decoration: none;  }

.eintrag p a
{ font-family: Verdana, sans-serif; font-size: 12px; color: #3066A8; line-height: 17px; margin: 0px 0px  20px 0px;  padding: 0  0px 0  0px; text-decoration: underline; }
.eintrag p.links a
{ font-family: Verdana, sans-serif; font-size: 12px; color: #3066A8; line-height: 23px; margin: 0px 0px  20px 0px;  padding: 0  0px 0px  0px; text-decoration: none; }
.eintrag p a:hover
{ text-decoration: none; }

.eintrag p a.gruppe
{ font-family: Verdana, sans-serif; font-size: 10px; color: #3066A8; line-height: 17px; margin: 0px 0px  20px 0px;  padding: 0  0px 0  0px; text-decoration: underline; }
.eintrag p a.gruppe:hover
{ text-decoration: none;  }
.eintrag p a.name
{ font-family: Verdana, sans-serif; font-size: 12px; color: #3066A8; line-height: 17px; margin: 0px 0px  20px 0px;  padding: 0  0px 0  0px; text-decoration: underline; }

.eintrag p a.seminare
{ font-family: Verdana, sans-serif; font-size: 11px; color: #784A42; line-height: 17px; margin: 0px 0px  20px 0px; font-weight: bold; padding: 0  0px 0  0px; text-decoration: underline; }
.eintrag p a.seminare:hover
{ text-decoration: none;  }

/*
#content a {
	color: #00F;	
}
*/
#content a.seminare {
	color: #666;
	font-size: 14px; 	
}
#content a.seminare:hover {	
	color: #666;
	font-size: 13px; 	
	
	
}

#content a:hover {
	text-decoration:none;
}

#top-menue ul {
display : inline;
list-style-type : none;
font-size :  0px;
visibility : hidden;
line-height: 0px;

}
#top-menue ul a.skip {
visibility : hidden;
}

#head img
{  margin: 0px; padding:0px;  }



#navigation img.logo
{ float:none;  margin :  0px  0px 0px 0;  clear: both; border-right : 0px solid #F4F8FF;}
#navigation img
{ float:none;  margin :  4px  0px 4px 0;  clear: both; border-right : 0px solid #F4F8FF;}

#navigation p
{ font-family: Verdana, sans-serif; font-size: 12px; color: #3066A8; line-height: 12px; margin:  0px 0 0px 0; padding:0px 0 0 36px; clear: both;}
#navigation p.name
{  font-family: Verdana, sans-serif; font-size: 12px; color: #3066A8; line-height: 12px; margin:  0px 0px  0px 0px; padding: 0px  0px 10px 36px;  clear: both;}
#navigation p.klein
{  font-family: Verdana, sans-serif; font-size: 10px; color: #784A42; line-height: 12px; margin:  0px 0px  0px 0px; padding: 0  0px 0  36px;  clear: both;}

#navigation p.klein a
{  font-family: Verdana, sans-serif; font-size: 10px; color: #784A42; line-height: 12px; margin:  0px 0px  0px 0px; padding: 0  0px 0px 36px;  clear: both; text-decoration:none;}
#navigation p.klein a:hover
{  font-family: Verdana, sans-serif; font-size: 10px; color: #784A42; line-height: 12px; margin:  0px 0px  0px 0px; padding: 0  0px 0px 36px;  clear: both; text-decoration:none;}


#navigation p a
{  font-family: Verdana, sans-serif; font-size: 12px; color: #515151; line-height: 12px; margin:  0px 0px  0px 0px; padding: 0  0px 0px 0px;  clear: both; text-decoration:none;}
#navigation p a:hover
{  font-family: Verdana, sans-serif; font-size: 12px; color: #784A42; line-height: 12px; margin:  0px 0px  0px 0px; padding: 0  0px 0px 0px;  clear: both; text-decoration:none;}

#navigation p.adresse
{  font-family: Verdana, sans-serif; font-size: 10px; color: #515151; line-height: 12px; margin:  120px 0px  0px 0px; padding: 0  0px 0  10px;  clear: both; text-align:left; }

#navigation p.adresse a
{  font-family: Verdana, sans-serif; font-size: 10px; color: #3066A8; line-height: 12px; margin:  0px 0px  0px 0px; padding: 0  0px 0px 0px;  clear: both; text-decoration:none; text-align:left}
#navigation p.adresse a:hover
{  font-family: Verdana, sans-serif; font-size: 10px; color: #784A42; line-height: 12px; margin:  0px 0px  0px 0px; padding: 0  0px 0px 0px;  clear: both; text-decoration:none; text-align:left}




#navigation ul {
font-family: Verdana, sans-serif; color: #2F2A3F; font-size:12px; text-decoration:none; line-height: 14px;
margin :  280px 0 100px 0;
padding : 0px 0 0 0;
list-style-type : none;
}
#navigation li {
display : outline;
margin : 0 0 0 0;
padding : 0 0 3px 15px;
}
#navigation li.absatz {
display : outline;
margin : 0 0 0 0;
padding : 20px 0 6px 36px;
}
#navigation li.absatz2 {
display : outline;
margin : 0 0 0 0;
padding : 0px 0 0px 36px;
}
#navigation ul a {
font-family: Verdana, sans-serif; color: #2F2A3F; font-size:12px; text-decoration:none; line-height: 12px;
margin-left : 0px;
line-height : 12px;
}
#navigation ul a:hover {
color: #3066A8;
font-weight: normal;
}
#navigation ul a.mouseout {
color: #3066A8;
cursor: default;
font-weight: normal;
}

#logo {
  height: 195px;
  width: 385px;
  position: absolute;
  left: 411px;
  top: 47px;
  
  background-color: grey;
  opacity: 0.5;
}

#logo {
  height: 195px;
  width: 385px;
  position: absolute;
  left: 412px;
  top: 47px;
  z-index:3;
  
  background-color: transparent;
  opacity: 1;
}

#logo_text {
	background-color: rgba(255, 255, 255, 0.6);
	font-family: Verdana,sans-serif;
	font-size: 0.8em;
	height: 140px;
	left: 556px;
	padding-left: 26px;
	padding-top: 45px;
	position: absolute;
	top: 0;
	width: 213px;
	z-index: 2;
}
#logo_text.seite1 {

background-color: rgba(255, 255, 255, 0.0);

}



/*-----------------------------*/
/* table, formular...*/
/*-----------------------------*/



table
{ margin : 0 0px  0px 0; padding : 0 0 0 0; border: 0px solid black; table-layout:auto; text-align: left; }

td
{ font-family: Verdana, sans-serif; font-size: 12px; color: #3066A8; line-height: 13px; margin : 0 0 0 0; padding : 0  0px 0 30px;  background-color: none; vertical-align:top; text-align: left; border: 0px solid black;}
th
{ font-weight: normal; text-align:left; border: 0px solid black;}
tr
{ margin : 0 0 0 0; padding : 0 0 0 0;  background-color: none; vertical-align:top; text-align: left; border: 0px solid black;}

.eintrag ul { font-family : Verdana, sans-serif;  font-size : 12px; color: #515151; text-decoration : none; line-height : 17px; margin : 0 0 20px 0; padding : 6px 0 0 9px; list-style-type : bullet;  float : none;   clear : both;
}
.eintrag li {
margin : 0 0 0 8px; padding : 0 0 2px 1px;
}



/*-----------------------------*/
/* Abstaende, Positionen, etc...*/
/*-----------------------------*/


body
{
  background-color: #ffffff;
  width: 795px;
  margin: auto auto; 
  padding-top:30px;
}


#wrapper {
  position: relative;
  width: 750px;
  margin: 0 auto;
}

#top-menue {
  visibility : hidden;
  margin : 0;
  padding : 0;
}

#old{
  background-color:  #EAF1FF;
}
#head
{
  background-color: #FFFFFF;
  margin:  0px 0px  0px 0px;
  text-align: left;
  height: 185px;
  padding:  0px 0px  0px 0px;
  border : 0px solid #003030;
  z-index:2;
}

#content
{
  background-color: #F2F3EE;
  background-repeat: repeat-y;
  width: 430px;
  min-height:496px;
  padding: 0px  60px  80px 60px;
  z-index:3;
  float: left;
}

#navigation
{
         background-color: #F8FBFF;
         position:absolute;
         width: 244px;
         top: 0px;
         margin: 30px  0px 0px 0px;
         padding: 0px 0px  0px 0px;
         text-align: left;
         z-index:-1;
/* Again, the ugly brilliant hack. */
        voice-family: "\"}\"";
        voice-family:inherit;
        }
/* Again, "be nice to Opera 5". */
body>#navBeta {width: 238px;}

.gallerie img {
  width: 180px;
  padding: 4px;
  background-color: #7D7D7D;
  margin: 10px;
  box-shadow: 4px 3px 5px #AAAAAA;
  border-radius: 8px;
  opacity: 0.8;
}

.gallerie img:hover {
  background-color: #999;
  box-shadow: 4px 3px 5px #CCC;
  opacity: 1;
}
#content{
    margin:0px 0px 20px 244px;
}

h1.title,h2.title, h3.title{
    margin:  5px   0px  0px  0px;
}
/*navigation und content vertauschen - ENDE*/
